body{
  background-color: #1b1c1b;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vh;height: 100vw;
  overflow-x: hidden; /* Hide horizontal scrollbar */
    }
#screenshare {
width: 100%;
height: 100%;
 
}
.container {
display: flex-wrap;
text-align: center;
color: white;
width: 100vw;
}
.mainplayer{
display: flex;
align-items: left;
vertical-align: top;
overflow: hidden;
position: fixed;
width:75%;
height: auto;
}
.rightnav{
display: flex;
flex-direction: column;
align-items: flex-end;
overflow-y: scroll
width:16%;
height: 20%;
}
img{
display: flex;
height:300px;
border:0;
}
.navbar {
  background-color: #333;
  vertical-align: top;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#log{
 visibility: hidden;   
}
.error {
  color: red;
}

.warn {
  color: orange;
}

.info {
  color: darkgreen;
}
a{
    color: #00ff00; 
    }
#publishBtn {
     background-color: #2ea00b;
     color: #ffffff;
     background-position: absolute;
     padding: 5px;
     border-radius: 50%;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     margin:10px
    }
#publishBtn:focus{
background-color:red;
  }
#micMuteBtn {
background-color: #2ea00b;
color: #ffffff;
background-position: absolute;
padding: 5px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
margin:10px
    }
#micMuteBtn:focus{
background-color:red;

  }

#gum-local{
visibility: hidden;  
}
#startSS{
     background-color: #2ea00b;
     color: #ffffff;
     background-position: absolute;
     padding: 5px;
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     margin:10px
    }
#startSS:focus{
background-color:red;
  } 
#stopSS{
     background-color: #2ea00b;
     color: #ffffff;
     background-position: absolute;
     padding: 5px;
     border-radius: 10%;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     margin:10px
    }
#stopSS:focus{
background-color:red;
  }

#viewerURL{
position:absolute;
padding-bottom: 50%;
width: 200px;
}
#userCntView{
position:fixed;
top: 0;
right: 0;
padding-right: 2%;
}
.account-data{
position:fixed;
padding-left:25%;
top:0;
left:0

}
.selectSS{
position: fixed;
padding-left:33%;
top:8%;

}
.select-share{
position: fixed;
top: 20%;
padding-left:25%;

}
